html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-bg);
}

::-webkit-scrollbar {
  background-color: var(--scrollbar-bg);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
}
