nav {
  height: 4.375rem;
  background-color: var(--primary-color);
  padding: 2rem 3rem;
  display: flex;
  align-items: center;

  span {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--light-color);
    margin-left: 1rem;
    text-decoration: none;
  }

  img {
    width: 3rem;
    border-right: 1px solid var(--light-color);
    padding-right: 1rem;
  }
}
