@media (min-width: 1200px) {
  .btn-success {
    margin-top: 35px;
  }
}

@media (max-width: 1199px) {
  .btn-success {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .card-body {
    margin-top: 4rem;
  }
}
