<div class="container col-xs-12 col-sm-12 col-md-8 col-xl-7">
  <div class="shadow-lg p-4 mb-5 bg-white rounded">
    <button
      (click)="back()"
      type="button"
      class="btn btn-secondary position-absolute"
      data-toggle="tooltip"
      data-placement="top"
      title="Voltar"
    >
      <img src="assets/icons/back.svg" alt="Voltar" />
      Voltar
    </button>
    <div class="card-body">
      <h1 class="card-title mb-3">
        <img width="35" src="assets/icons/category.png" alt="Categorias" />
        Categorias
      </h1>
      <p class="text-center mb-4">
        Aqui ficam todas as categorias que você utiliza.
      </p>
      <div
        *ngIf="isLoading$ | async; else content"
        class="d-flex justify-content-center"
      >
        <div class="spinner-border text-secondary"></div>
      </div>
      <ng-template #content>
        <div class="row components-filter">
          <div class="col-xs-12 col-sm-12 col-md-8 col-xl-6">
            <form [formGroup]="formFilter">
              <div
                class="input-group input-filter"
                [class.disabled]="
                  (categories$ | async)?.length === 0 &&
                  !formFilter.get('filter').value
                "
              >
                <input
                  #filterInput
                  type="text"
                  class="form-control"
                  placeholder="Pesquise por qualquer coluna..."
                  formControlName="filter"
                />
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Limpar"
                  (click)="clearFilter()"
                >
                  <img src="assets/icons/clear.svg" alt="Limpar" />
                </button>
              </div>
            </form>
          </div>
          <div
            class="col-xs-12 col-sm-12 col-md-4 col-xl-6 d-flex justify-content-end"
          >
            <button type="button" class="btn btn-primary" (click)="new()">
              <img src="assets/icons/plus.svg" alt="Salvar" />
              Novo
            </button>
          </div>
        </div>
        <div
          *ngIf="(categories$ | async)?.length > 0"
          class="table-responsive mt-3"
        >
          <table
            *ngIf="!(isLoading$ | async)"
            class="table table-hover table-bordered"
          >
            <thead class="thead-light">
              <tr>
                <th width="35%">Descrição</th>
                <th width="25%" class="hidden-xs hidden-sm hidden-md">
                  Data Criação
                </th>
                <th width="25%" class="hidden-xs hidden-sm hidden-md">
                  Data Última Atualização
                </th>
                <th width="15%" class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories$ | async; let i = index">
                <td class="text-truncate">{{ category?.description }}</td>
                <td class="hidden-xs hidden-sm hidden-md">
                  {{ category?.createdAt | timestampToDate }}
                </td>
                <td class="hidden-xs hidden-sm hidden-md">
                  {{ category?.updatedAt | timestampToDate }}
                </td>
                <td class="text-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-info"
                      (click)="edit(category)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Editar"
                    >
                      <img src="assets/icons/pencil.svg" alt="Editar" />
                    </button>
                    <button
                      (click)="delete(category)"
                      type="button"
                      class="btn btn-danger"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Excluir"
                    >
                      <img src="assets/icons/trash.svg" alt="Excluir" />
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <No-Results-Found
          *ngIf="(categories$ | async)?.length === 0"
        ></No-Results-Found>
      </ng-template>
    </div>
  </div>
</div>

<!-- Modal -->
<div #openModal data-bs-toggle="modal" data-bs-target="#categoryModal"></div>
<div
  class="modal fade"
  id="categoryModal"
  tabindex="-1"
  aria-labelledby="categoryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categoryModalLabel">
          <img width="18" src="assets/icons/category.svg" alt="Categorias" />
          {{ action }} categoria
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="formCategory" (submit)="save()">
        <div class="modal-body">
          <div class="row">
            <div class="form-group">
              <label>Descrição:</label>
              <input
                #descriptionInput
                type="text"
                class="form-control mt-1"
                formControlName="description"
                placeholder="Digite a descrição da categoria..."
              />
              <Message-Control-Error
                [control]="formCategory.get('description')"
                error="required"
                msg="Descrição é obrigatório."
              >
              </Message-Control-Error>
              <Message-Control-Error
                [control]="formCategory.get('description')"
                error="maxlength"
                msg="Descrição precisa ter no máximo 50 caracteres."
              >
              </Message-Control-Error>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            #closeModal
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Sair
          </button>
          <button
            type="submit"
            class="btn btn-success"
            data-toggle="tooltip"
            data-placement="top"
            title="Salvar"
            [disabled]="disabledSave && !formCategory.valid"
          >
            <img src="assets/icons/save.svg" alt="Salvar" />
            Salvar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
